.file-upload {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 0.25rem;

  .form-group {
    margin-bottom: 0.5rem;
  }

  .form-control-file {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  button {
    width: 100%;
  }
}
