@import "../../../css/variables.scss";

.login-section {
  .login-card {
    background: $color1;
    box-shadow: 0px 0px 15px 0px #0000000a;
    border: 1px solid $color8;
    border-radius: 15px;
    padding: 50px;
    width: 75%;
    .login-title {
      font-weight: 600;
      font-size: 34px;
      color: $color15;
    }
    .form-floating {
      position: relative;
      .form-control {
        background: $color1;
        border: 1px solid $color7;
        border-radius: 14px;
        padding: 10px 23px 8px;
        &::placeholder {
          color: $color6;
          font-weight: 400;
          font-size: 16px;
        }
        &:focus {
          box-shadow: none;
          outline: 0;
        }
      }
      label {
        position: absolute;
        top: 0;
        left: 12px;
        font-weight: 500;
        font-size: 16px;
        color: $color15;
        transition: all 0.3s;
      }
      .eye-btn {
        position: absolute;
        top: 28%;
        right: 25px;
      }
    }
    .form-floating input:focus ~ label,
    .form-floating input:not(:placeholder-shown) ~ label {
      top: -8px;
      left: 12px;
      font-size: 16px;
      font-weight: 500;
      color: $color15;
    }
    .form-control::placeholder {
      visibility: hidden;
    }

    .form-control:focus::placeholder,
    .form-control:not(:placeholder-shown) {
      visibility: visible;
    }
    .form-check {
      .form-check-input {
        width: 20px;
        height: 20px;
        border: 1px solid $color7;
        border-radius: 50%;
      }
      .form-check-label {
        font-weight: 400;
        font-size: 16px;
        color: $color15;
      }
    }
    .form-check-input:checked {
      background-color: $color2;
      border-color: $color2;
    }
    .main-link {
      font-weight: 400;
      font-size: 16px;
      color: $color13;
    }
    .login-btn {
      margin-top: 32px;
      margin-bottom: 22px;
      background-color: $color2;
      padding: 12px;
      border-radius: 10px;
      font-weight: 600;
      font-size: 20px;
      color: $color1;
    }
    .account-text {
      font-weight: 400;
      font-size: 16px;
      color: $color15;
    }
  }
}

@media (max-width: 768px) {
  .login-section {
    .login-card {
      width: 100%;
    }
  }
}
